<header class="header_background"></header>
<link rel="stylesheet" href="app.component.css">
<img class="img_jersey" src="https://pcmmod.com/img/backup_graph_element/11702.png" alt="20" />
<img class="img_jersey" src="https://pcmmod.com/img/backup_graph_element/85077.png" alt="22" />
<img class="img_jersey" src="https://pcmmod.com/img/backup_graph_element/104949.png" alt="24" />

<div class="bs-docs-example">
  <div class="btn-group" style="margin: 9px 0 5px;">
    <button routerLink="/vista-palmares" class="btn">Palmarés</button>
    <button routerLink="/global-corredor" class="btn">Global</button>
    <button routerLink="/anadir-logro" class="btn">Añadir Logros</button>
  </div>
</div>

<router-outlet></router-outlet>