.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

select {
    background-color: #295a56;
    color: white;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    width: auto;
    min-width: 75px; /* Ajusta el valor según sea necesario */
    max-width: 100%; /* Ajusta el valor según sea necesario */
    display: block; /* Asegura que el select se muestre como bloque */
  }

.label {
    color: #295a56;
    text-align: left;
    font: 12px arial;
    padding-right: 20px;
}

.season-selector {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.button-selector {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.season-label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: goldenrod;
    text-align: center;
    vertical-align: middle;
    background-color: #363636;
    background-repeat: repeat-x;
    font-weight: bold;
    width: auto;
    min-width: 75px; /* Ajusta el valor según sea necesario */
    max-width: 100%; /* Ajusta el valor según sea necesario */
}

.season-label:hover,
.season-label:focus,
.season-label.disabled,
.season-label[disabled] {
    color: #333333;
    background-color: goldenrod;
}

.season-label:focus {
    color: white;
    background-color: #363636;
    text-decoration: none;
}

.season-button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #363636;
    text-align: center;
    vertical-align: middle;
    background-color: goldenrod;
    background-repeat: repeat-x;
    font-weight: bold;
    width: auto;
    min-width: 100px; /* Ajusta el valor según sea necesario */
    max-width: 100%; /* Ajusta el valor según sea necesario */
}

.season-button:hover,
.season-button:focus,
.season-button.disabled,
.season-button[disabled] {
    color: goldenrod;
    background-color: #363636;
}

.season-button:focus {
    color: white;
    background-color: goldenrod;
    text-decoration: none;
}

.img_jersey {
    width: 50px;
    height: 28px;
    display: block;
    border: 1px solid black; /* Añade un borde ligero */
    /*border-radius: 4px; /* Opcional: añade bordes redondeados */
}