<div class="season-selector">
    <label class="season-label" for="carrera">Carrera</label>
    <select (change)="pintarBanderaCarrera($event)" [(ngModel)]="carrera">
        <option *ngFor="let carrera of res.carreras" [value]="carrera.id">{{ carrera.nombre }}</option>
    </select>
    <img class="img_jersey" src={{banderaCarrera}} alt="carrera.pais.nombre" />
</div>
<div class="season-selector">
    <label class="season-label" for="corredor">Corredor</label>
    <select (change)="pintarBandera($event)" [(ngModel)]="corredor">
        <option *ngFor="let corredor of responseCorredores.corredores" [value]="corredor.id">{{ corredor.nombre }}</option>
    </select>
    <img class="img_jersey" src={{bandera}} alt="corredor.pais.nombre" />
</div>
<div class="season-selector">
    <label class="season-label" for="season">Temporada</label>
    <select id="season" [(ngModel)]="selectedSeason">
        <option *ngFor="let year of seasons" [value]="year">{{year}}</option>
    </select>
</div>
<div class="season-selector">
    <label class="season-label" for="logro">Logro</label>
    <select [(ngModel)]="selectedLogro">
        <option *ngFor="let log of logro" [value]="log">{{ log }}</option>
    </select>
</div>
<div class="season-selector" *ngIf="selectedLogro === 'Puestometro'">
    <label class="season-label" for="pos">Posicion</label>
    <select [(ngModel)]="selectedPos">
        <option *ngFor="let pos of posicion" [value]="pos">{{ pos }}</option>
    </select>
</div>
<div class="season-selector" *ngIf="selectedLogro === 'Victoria'">
    <label class="season-label" for="etapa">Etapa</label>
    <input type="checkbox" id="etapa" [(ngModel)]="isEtapa">
</div>
<div class="season-selector" *ngIf="selectedLogro === 'Victoria'">
    <label class="season-label" for="itt">ITT</label>
    <input type="checkbox" id="itt" [(ngModel)]="isITT">
</div>
<div class="button-selector" *ngIf="selectedLogro === 'Puestometro'">
    <button class="season-button" (click)="guardarPuestometro()">Guardar Puestometro</button>
</div>
<div class="button-selector" *ngIf="selectedLogro === 'Victoria'">
    <button class="season-button" (click)="guardarVictoria()">Guardar Victoria</button>
</div>