<div class="season-selector">
  <label class="season-label" for="corredor">Corredor</label>
  <select (change)="pintarBandera($event); cargarPerfil(corredor, selectedSeason);" [(ngModel)]="corredor">
    <option *ngFor="let corredor of responseCorredores.corredores" [value]="corredor.id">{{ corredor.nombre }}</option>
  </select>
  <img class="img_jersey" src={{bandera}} alt="corredor.pais.nombre" />
</div>
<div class="season-selector">
  <label class="season-label" for="season">Temporada</label>
  <select id="season" [(ngModel)]=selectedSeason (change)="cargarPerfil(corredor, selectedSeason)">
    <option *ngFor="let year of seasons" [value]="year">{{year}}</option>
  </select>
</div>

<div class="tables-container" id="victorias">
  <!-- Primera tabla -->
  <div class="left-table">
    <table class="table">
      <thead class="th">
        <tr>
          <th>Carrera</th>
          <th>Categoría</th>
          <th>Temporada - Etapas</th>
        </tr>
      </thead>
      <tbody class="td">
        <tr *ngFor="let vic of victoria">
          <td>
            <div><img class="td_img" src={{vic.bandera}} /> {{vic.carrera}}</div>
          </td>
          <td>
            <div>{{vic.categoria.codigo}}</div>
          </td>
          <td>{{vic.etapas}} {{vic.edicionString}} </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="center-tables">
    <table class="table" *ngIf="puestometroGV.length > 0 " id="GV">
      <thead class="th">
        <tr>
          <th class="carrera">Carrera</th>
          <th>2020</th>
          <th>2021</th>
          <th>2022</th>
          <th>2023</th>
          <th>2024</th>
          <th>2025</th>
          <th>2026</th>
          <th>2027</th>
        </tr>
      </thead>
      <tbody class="td">
        <tr *ngFor="let p of puestometroGV">
          <td>
            <div><img class="td_img" src={{p.bandera}} /> {{p.carrera}} </div>
          </td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinte)">{{p.dosmilveinte}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintiuno)">{{p.dosmilveintiuno}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintidos)">{{p.dosmilveintidos}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintitres)">{{p.dosmilveintitres}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinticuatro)">{{p.dosmilveinticuatro}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinticinco)">{{p.dosmilveinticinco}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintiseis)">{{p.dosmilveintiseis}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintisiete)">{{p.dosmilveintisiete}}</td>
        </tr>
      </tbody>
    </table>

    <!-- Segunda tabla -->
    <table class="table" *ngIf="puestometroMonumentos.length > 0 " id="Monumentos">
      <thead class="th">
        <tr>
          <th class="carrera">Carrera</th>
          <th>2020</th>
          <th>2021</th>
          <th>2022</th>
          <th>2023</th>
          <th>2024</th>
          <th>2025</th>
          <th>2026</th>
          <th>2027</th>
        </tr>
      </thead>
      <tbody class="td">
        <tr *ngFor="let p of puestometroMonumentos">
          <td>
            <div><img class="td_img" src={{p.bandera}} /> {{p.carrera}} </div>
          </td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinte)">{{p.dosmilveinte}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintiuno)">{{p.dosmilveintiuno}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintidos)">{{p.dosmilveintidos}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintitres)">{{p.dosmilveintitres}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinticuatro)">{{p.dosmilveinticuatro}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinticinco)">{{p.dosmilveinticinco}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintiseis)">{{p.dosmilveintiseis}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintisiete)">{{p.dosmilveintisiete}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table" *ngIf="puestometroMajor.length > 0 " id="Major">
      <thead class="th">
        <tr>
          <th class="carrera">Carrera</th>
          <th>2020</th>
          <th>2021</th>
          <th>2022</th>
          <th>2023</th>
          <th>2024</th>
          <th>2025</th>
          <th>2026</th>
          <th>2027</th>
        </tr>
      </thead>
      <tbody class="td">
        <tr *ngFor="let p of puestometroMajor">
          <td>
            <div><img class="td_img" src={{p.bandera}} /> {{p.carrera}} </div>
          </td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinte)">{{p.dosmilveinte}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintiuno)">{{p.dosmilveintiuno}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintidos)">{{p.dosmilveintidos}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintitres)">{{p.dosmilveintitres}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinticuatro)">{{p.dosmilveinticuatro}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinticinco)">{{p.dosmilveinticinco}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintiseis)">{{p.dosmilveintiseis}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintisiete)">{{p.dosmilveintisiete}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table" *ngIf="puestometroMinor.length > 0 " id="Minor">
      <thead class="th">
        <tr>
          <th class="carrera">Carrera</th>
          <th>2020</th>
          <th>2021</th>
          <th>2022</th>
          <th>2023</th>
          <th>2024</th>
          <th>2025</th>
          <th>2026</th>
          <th>2027</th>
        </tr>
      </thead>
      <tbody class="td">
        <tr *ngFor="let p of puestometroMinor">
          <td>
            <div><img class="td_img" src={{p.bandera}} /> {{p.carrera}} </div>
          </td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinte)">{{p.dosmilveinte}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintiuno)">{{p.dosmilveintiuno}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintidos)">{{p.dosmilveintidos}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintitres)">{{p.dosmilveintitres}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinticuatro)">{{p.dosmilveinticuatro}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinticinco)">{{p.dosmilveinticinco}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintiseis)">{{p.dosmilveintiseis}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintisiete)">{{p.dosmilveintisiete}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="right-table">
    <table class="table" *ngIf="puestometroClasicas.length > 0 " id="Clasicas">
      <thead class="th">
        <tr>
          <th class="carrera">Carrera</th>
          <th>2020</th>
          <th>2021</th>
          <th>2022</th>
          <th>2023</th>
          <th>2024</th>
          <th>2025</th>
          <th>2026</th>
          <th>2027</th>
        </tr>
      </thead>
      <tbody class="td">
        <tr *ngFor="let p of puestometroClasicas">
          <td>
            <div><img class="td_img" src={{p.bandera}} /> {{p.carrera}} </div>
          </td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinte)">{{p.dosmilveinte}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintiuno)">{{p.dosmilveintiuno}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintidos)">{{p.dosmilveintidos}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintitres)">{{p.dosmilveintitres}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinticuatro)">{{p.dosmilveinticuatro}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveinticinco)">{{p.dosmilveinticinco}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintiseis)">{{p.dosmilveintiseis}}</td>
          <td [ngClass]="getBackgroundClass(p.dosmilveintisiete)">{{p.dosmilveintisiete}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>